.weekContainer{
    /* display: block; */
    position: relative;
    border-radius: 1rem;
    border: .2rem solid rgba(10, 19, 39,1);
    height: 100%;
    width: 65%;
    right:0;
    box-shadow: 0rem .1rem 2rem .1rem rgba(255, 255, 255, 0.3);
    background:rgba(81, 102, 44, 0.8);
    margin-left: 5%;
    display:inline-block;
    
}
.mo,.tu,.we,.th,.fr{
    top:0;
    width: 20%;
    height: 100%;
    float:left;
    border-right:.2rem solid rgba(3, 0, 0, .2);
    padding: 0;
    
}
.mo:hover,.tu:hover,.we:hover,.th:hover,.fr:hover{
    background:rgba(81, 102, 44, 0.9)
}
.mo:hover{
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.fr:hover{
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.mo::after {
    content: "";
    clear: both;
    display: table;
}
.fr{
    border:0;
}
.text,.textmo,.textfr{
    cursor:default;
    user-select:none;
    padding:.5rem;
    text-align: center;
    font-size:1.5rem;
    margin:auto;
    border-bottom:.2rem solid rgba(3, 0, 0, 0.15);
    background: rgba(10, 19, 39, 0.755);
}
.textfr{
    border-top-right-radius: .8rem;
}
.textmo{
    border-top-left-radius: .8rem;
}
.motask{
    height:90%;
    display: inline-block;
    width:100%;
}

#active{
    background:rgba(81, 102, 44, 0.9);
}
#activemo{
    background:rgba(81, 102, 44, 0.9);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
#activefr{
    background:rgba(81, 102, 44, 0.9);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    
}