.addButton{
    /* margin-left:50%; */
    /* display:inline-block; */
    margin:.3rem;
    cursor: pointer;
}
.addButton:hover{
    transform: scale(1.05);
}
#inputField{
    width:80%;
    height:50px;
    margin:.3rem;
    margin-left:0;
    border:.2rem solid rgba(10, 19, 39,1);
    border-radius: .5rem;
    color:  rgb(230, 230, 233);
    background: rgba(10, 19, 39, 0.755);
    font-size: 1.5rem;
    padding: .2rem .5rem; 
    font-family: 'Amatic SC';
}
#inputField:focus{
    outline: none
}

@media only screen and (max-height: 550px) {
    .addButton {
        height:40px;
    }
    #inputField{
        height:40px;
    }
}
@media only screen and (max-height: 450px) {
    .addButton {
        height:30px;
    }
    #inputField{
        height:30px;
    }
}