.main{
    width: 90vw;
    height: 90vh;
    /* border: .2rem solid white; */
    animation: load 500ms ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
@keyframes load{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


@media only screen and (max-width: 800px) {
    .addButton {
        height:40px;
    }
    .myContainer{ /*TaskContainer*/
        
        display: block;
        width: 95%;
        height: 60%;
       
    }
    .weekContainer{
        display: block;
        width: 95%;
        height:35%;
        margin: 0;
    }
    .taskContAdd{
        height:80%;
        
    }
    #helpMe{
        top:10px;
        right:10px;
    }
}
@media only screen and (max-width: 550px) {
    .addButton {
        height:40px;
    }
    .myContainer{ /*TaskContainer*/
        
        display: block;
        width: 85%;
        height: 60%;
       
    }
    .weekContainer{
        display: block;
        width: 85%;
        height:35%;
        margin: 0;
    }
    .taskContAdd{
        height:80%;     
    }
    
}
